article{
	float:left;
	width:340px;
	
	overflow:hidden;
}

.asideGeneralBlock {
	width:97%;
}

.messageIcon::before{
	font-family:FontAwesome;
	content: "\f0e0";
	color:#55acee;
    margin-right:3px;
	
}

.downIcon::before{
	font-family:FontAwesome;
	content: "\f0d7";
	color:#55acee;
    
	
}



.asideGeneralBlock{

padding: 10px 0;

}

.followButton{
	margin-top: 0;
}

.notableUsersList{
	border-bottom: 1px solid #dedede;
	padding: 10px;
	margin:0;
}

.notableUsersList img {
	width:100px;
}

.notableUsersHeading{
	border-bottom: 1px solid #dedede;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}



.blockFeed h3{
	font-size:1.2em;
	padding:13px 10px 10px 10px;
	border-bottom: 1px solid #dedede;
}

.notableUsersHeading p{
	font-size:1.3em;
}