/*Follow Button*/
.followIcon::before{
    font-family:FontAwesome;
    content: "\f234";
    color:#55acee;
    margin-right:3px;
}

.followButton{
    margin-top:5px;
	font-family:'Open Sans',Verdana,Arial;
    color: #292f33;
    font-size: 13px;
    padding: 3px 11px 3px;
    
   
    background: linear-gradient(#ffffff,#d0d0d0);
    border-radius:5px;
    cursor:pointer;
    border:1px solid #dedede;
    outline:none;
   
}

.followButton:hover {
    
     background: linear-gradient(#d0d0d0,#ffffff);


}


.followButton:active{
	
    
    background: linear-gradient(#ffffff,#ffffff);
     
}
/*End*/

/*Nav Link Buttons*/

.navButton {
    background-color: #efecec;
    /*background-color: #4CAF50;*/
    
    color: #66757f;
    padding: 8px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border:1px solid #dedede;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    cursor: pointer;
    transition: background-color 2s, color 2s;

}

.navButton:hover {
    padding-bottom: 6px !important;
    border-bottom:#55acee solid 3px;
    background-color: white;
    
    color:#55acee;
}

.navButtonCurrentlyViewing{
    padding-bottom: 6px !important;
    border-bottom:#55acee solid 3px;

    
}
/*End*/