footer{
		font-size:0.9em;
            position:fixed;
            bottom: 0;
            right:0;
            margin-left:auto; 
            margin-right:0;
            background:#ffffff;
	
			border-radius:5px;
			border:1px solid #dedede;

}