
header{
	background-color: #ffffff;
	margin-bottom:5px;
	-webkit-box-shadow: 0 4px 4px -2px #dedede;
   -moz-box-shadow: 0 4px 4px -2px #dedede;
        box-shadow: 0 4px 4px -2px #dedede;

}

.paddingHeader{
	padding: 3px 10px 0 10px;
}

.logo{
	width:40px;
	height:auto;
	float:left;
	padding-left:4px;
}

.upperNav{
	text-align:right;
}

.upperNav{

}
header a{
	text-decoration:none;
}

header li{
	display:inline-block;
}

header li>img{
	width:25px;
	height:auto;
	margin-right:5px;
	border-radius:5px;
}

header li{
	vertical-align:middle;
}


.lowerNav{
	text-align:right;
	margin-right:100px;
}
/*
.lowerNav ul>li{
	margin:0 0 0 10px;
	background:grey;
	padding:4px;
	border:1px solid black;
}*/


/*nav Icons*/
.homeIcon::before{
	font-family:FontAwesome;
	content: "\F015";
	
}

.homeIcon::before{
	font-family:FontAwesome;
	content: "\F015";
	margin-right:3px;
}

.statusesIcon::before{
	font-family:FontAwesome;
	content: "\F0C1";
	margin-right:3px;
}


.usersIcon::before{
	font-family:FontAwesome;
	content: "\F0CA";
	margin-right:3px;
}

/* start of search bar*/

.searchIcon::before{
	font-family:FontAwesome;
	content: "\F002";
	font-size:13px;
	color:#66757f;
}

.search{
	
	border-right:none;
	border-left:1px solid #dedede;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 0 2px 0 12px;
	outline:none;
	height:25px;
	background-color:#f5f8fa;
}

.searchButton{
	
	border-left:none;
	border-right:1px solid #dedede;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
	cursor:pointer;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 0 12px 0 2px;
	outline:none;
	height:27px;
	background-color:#f5f8fa;
}


.form{
	margin-right:8px;
}

.backgroundWhite{
	background-color:#ffffff !important;
}

/*End