body {
    font-size: 62.5%;
    margin: 10px auto;
}

p {
    font-size: 1.8em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

#maincontainer{
	width:962px; /* +30pxv(15 on left and right sides) in padding makes 992px */
	border:1px solid grey;
	margin:0 auto;
    padding: 15px;
}

b{
	font-weight: bold;
}

.clearFloat{
	clear:both;
}

.clearLeft{
	clear:left;
}

.clearRight{
	clear:right;
}