aside {
    float: left;
    width: 265px;
}

.asideGeneralBlock {
    width: auto;
}

article {
    margin-left: 5px;
    float: left;
    width: 700px;
}

.singleProfileName {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;;
}
.singleProfilePic {
    width: 100%;
}

.singleProfileAddress {
    text-align: center;
    font-size: 1.5em;
    padding: 7px 0;
}

.profileMargin {
    margin: 10px 0;
}