/*CSS styling for aside*/

/*Font Sizes*/
aside h2, aside p{
	font-size: 1em;
}

aside h1{
	font-size:1.4em;
}

.asideLinks li{
	font-size:0.9em;
}
/*End*/


aside{
	flex:1;
	overflow: hidden;
}

.notableUsersHeading ul{
	display:flex;
	flex-direction: row;

}

.notableUsersHeading p{
	font-size:1.3em;
}

.notableUsersHeading h1{
	color:#66757f
}


.notableUsersList img{
	float:left;
	width:50px;
	height:auto;
	border-radius: 5px;
	margin-right:5px;
}


.notableUsersList{
	margin-top:10px;
	margin-bottom:10px;
}

.asideLinks ul{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.asideLinks li{
	
	padding:3px;
	color: #8899a6;
}
.asideLinks a{
	color: #8899a6;
	
}

/*Whole block containing aside*/
.asideGeneralBlock{
	margin-left:auto; margin-right:0;
	background:#ffffff;
	width:90%;
	border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-bottom:14px;
}
/*End/*